.delete{
    position: absolute;
    right:0px;
    width:200px;
    padding:10px;
    border:1px solid #dedbdb;
    border-radius:5px;
    background-color: #ffffff;
}

.delete-comment{
    position: relative;
    right:0px;
    top:0px;
    width:200px;
    padding:10px;
    border:1px solid #dedbdb;
    border-radius:5px;
    background-color: #ffffff;
}
